<div class="centercontainer">
    <div class="centerrow">
        <div class="centercolumn footer-space">
            <div class="page-header text-center">
                <div class="pagebrand animated flipInX">
                    <%= link_to root_path do %>
                        <%= image_tag('justg.png', :alt => "Brand", :class => "inline-block pageimage") %>
                    <% end %>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <blockquote>Though this is an online learning community, we all need personal space.</blockquote>
                    <p> When you respond to a feed, you are sharing your writing with other users.  Otherwise, what's yours is <strong>only</strong> yours.</p>  
                    <br>
                    <%= link_to "Back", :back, class: "btn btn-block btn-success btn-sm" %>
                </div>
            </div>
        </div>
    </div>
</div>