<% if user_signed_in? %>
    <div class="centercontainer responsesdiv">
        <div class="centerrow">
            <div class="centercolumnresume">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Edit Your Lesson Plan</h2>
                    </div>
                    <div class="panel-body">
                        <%= render 'form', plan: @plan %>
                    </div>
                    <div class="panel-footer">
                        <%= link_to 'Back', :back %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% else %>
    <div class="jumbotron">
        <h1>Not authorized.</h1>
        <p><%= link_to "Go Back", :back, class: "btn btn-info" %></p>
    </div>
<% end %>
